01-rest-api-integration-hub/n8n/workflows/01_lead_intake_forward_to_processor.json
{
  "name": "01_lead_intake_forward_to_processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "97dbaff5-8fa7-4298-8ba0-44b84fd658a2",
      "name": "Webhook",
      "webhookId": "8165e53c-c343-40dd-83b2-eb2df8d518ac"
    },
    {
      "parameters": {
        "functionCode": "const crypto = require('crypto');\nconst payload = $node['Webhook'].json.body || {};\nconst bodyString = JSON.stringify(payload);\nconst secret = process.env.WEBHOOK_HMAC_SECRET || 'replace-with-strong-secret';\nconst timestamp = Math.floor(Date.now() / 1000).toString();\nconst signingString = `${timestamp}.${bodyString}`;\nconst signature = `sha256=${crypto.createHmac('sha256', secret).update(signingString).digest('hex')}`;\nreturn [{ json: { payload, bodyString, timestamp, signature } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "id": "function-add-headers",
      "name": "Add Headers"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://processor:8000/webhook/lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Idempotency-Key",
              "value": "={{$node['Webhook'].json['body']['idempotency_key'] || 'n8n-' + Date.now()}}"
            },
            {
              "name": "X-Source",
              "value": "n8n"
            },
            {
              "name": "X-Timestamp",
              "value": "={{$node['Add Headers'].json['timestamp']}}"
            },
            {
              "name": "X-Signature",
              "value": "={{$node['Add Headers'].json['signature']}}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawBody": "={{$node['Add Headers'].json['bodyString']}}",
        "options": {
          "fullResponse": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        0
      ],
      "id": "processor-http",
      "name": "Processor Request"
    },
    {
      "parameters": {
        "responseMode": "response",
        "responseData": "={{$node['Processor Request'].json}}"
      },
      "type": "n8n-nodes-base.webhook-response",
      "typeVersion": 1,
      "position": [
        600,
        -120
      ],
      "id": "webhook-response",
      "name": "Webhook Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mock-jira-confluence:9002/log",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "jsonBody": "={\"run_id\": $node['Processor Request'].json['run_id'] || $node['Webhook'].json['body']['idempotency_key'], \"statusCode\": $node['Processor Request'].json['statusCode'], \"alert\": ($node['Processor Request'].json['statusCode'] >= 400), \"response\": $node['Processor Request'].json, \"payload\": $node['Webhook'].json['body']}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        600,
        120
      ],
      "id": "mock-jira-log",
      "name": "Mock Jira Logger"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Add Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Headers": {
      "main": [
        [
          {
            "node": "Processor Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processor Request": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mock Jira Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c079ec55-b319-4adb-bf64-82ee95fbb67e",
  "meta": {
    "instanceId": "cd7b155224e8abe49692967b01305f918e3e188e5a3b95f339fa219dca2dfa9c"
  },
  "id": "7R4ooUiFW7kGumuL",
  "tags": []
}